.list-ordering__link {
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    color: var(--gray-average);
    text-decoration: none;
}

.list-ordering__link--active {
    color: var(--highlight-green);
    font-weight: 600;
    text-decoration: underline;
}

.list-ordering {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;

    margin-top: 56px;
    margin-bottom: 32px;
}