.container-filter ul li {
  background-color: var(--gray-light);
  color: var(--gray-dark);
  font-size: 18px;
  padding: 0.25em 0.5em;
  border: 4px;
}

.container-filter {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.container-filter ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.container-filter button {
  border: none;
  background-color: transparent;
  color: var(--gray-average);
  font-size: 18px;
}