:root {
  --highlight-green: #81FE88;
  --font: 'Prompt', sans-serif;
  --petroleum-green: #132E35;
  --graphite: #01080E;
  --gray-dark: #171D1F;
  --gray-average: #888888;
  --gray: #3E3E3F;
  --gray-light: #BCBCBC;
  --offwhite: #E1E1E1;
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--graphite);
  font-family: var(--font);
}