/* Main container styles */
.container-login {
    display: flex;
    background-color: var(--dark-gray);
    padding: 3.5em 5em;
    border-radius: 32px;
    gap: 3em;
}

.container-login form {
    margin: 0 14.5px;
    font-size: 18px;
    font-weight: 400;
}

/* Title styles */
.form__title {
    font-size: 31px;
    font-weight: 600;
}

/* Subtitle styles */
.form__text {
    margin: 1.5em 0 2.5em 0;
    font-weight: 400;
    font-size: 22px;
}

/* Selection field styles */
.form__field-checkbox {
    margin-right: 0.5em;
    width: 20px;
    height: 20px;
    position: relative;
    background-color: none;
    border: 2px solid var(--light-gray);
}

.form__field-checkbox label {
    cursor: pointer;
    position: absolute;
    left: -1px;
    top: -2px;
}

.form__field-checkbox label::after {
    content: '';
    width: 7px;
    height: 4px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid var(--highlight-green);
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}

.form__field-checkbox label:hover::after {
    opacity: 0.3;
}

.form__field-checkbox input[type=checkbox] {
    visibility: hidden;
}

.form__field-checkbox input[type=checkbox]:checked+label::after {
    opacity: 1;
}

/* Button styles */
.form__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    color: var(--petroleum-green);
    background-color: var(--highlight-green);
    width: 100%;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    border: none;
    font-family: var(--font);
    font-size: 18px;
    font-weight: 600;
    margin: 2em 0;
}

.form__button::after {
    content: ' ';
    width: 25px;
    height: 20px;
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-size: 1em;
}

/* Options styles / fieldset */
.form__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-top: .5em;
    border: none;
}

.form__options a {
    color: var(--offwhite);
    font-family: Prompt;
    text-align: right;
    font-size: 15px;
}

/* Form text style: remember me */
.form__options-text {
    flex-grow: 2;
}

/* Links / social media container styles */
.container-links {
    text-align: center;
}
/* Link container title styles */
.container-links__title {
    font-size: 15px;
    color: var(--offwhite);
    position: relative;
}

.container-links__title::before,
.container-links__title::after {
    position: absolute;
    display: inline-block;
    top: 0.7em;
    left: 1em;
    content: " ";
    width: 2em;
    height: 0.05em;
    background-color: var(--offwhite);
}

.container-links__title::after {
    left: initial;
    right: 1em;
}

.container-links ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1.5em;
    margin: .5em 0 1.5em 0;
}

.container-links ul li {
    list-style-type: none;
}

.container-links ul li a {
    text-decoration: none;
    color: var(--offwhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
}

/* Link container text styles */
.container-links__text {
    font-size: 15px;
    color: var(--offwhite);
    margin-bottom: .9em;
}

/* Link styles */
.container-links__link {
    color: var(--highlight-green);
    font-size: 18px;
}

.container-links__link::after {
    display: inline-block;
    content: ' ';
    width: 30px;
    height: 20px;
    background-image: url('../img/clipboard.svg');
    background-repeat: no-repeat;
    background-position: center;
}